<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>AJAX CRUD | {% block title %} {% endblock title %}</title>
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <style>
      .navbar-fixed{
        z-index: 1000;
      }

      .more-space{
        margin: 25px;
      }

      .mb-0{
        margin-bottom: 0px;
      }

      .modal{
          display:block;
          max-height: 200%;
          overflow-y: unset !important;
      }

      .modal-footer{
        margin-top: -25px;
        margin-bottom: 10px;
      }
    </style>

    {% block styles %}{% endblock styles %}
  </head>

  <body>
    {% include "partials/_navbar.html" %}
    {% block content %} {% endblock content %}
  
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script>
            $(document).ready(function(){
                $('select').formSelect();
                $('.modal').modal();
            });
    </script>

    {% block scripts %}{% endblock scripts %}
  </body>
</html>
